.form {
  position: fixed;
  background-color: white;
  border-radius: 12px;
  z-index: 2;
  padding: 53px 98px;
  max-width: 754px;
  min-width: 240px;

  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0c1014;

  display: flex;
  flex-wrap: wrap;
  gap: 32px 20px;

  overflow: auto;
  height: -webkit-fill-available;
  height: fill-available;
}

.form__header {
  color: #0c1014;
  font-family: "Montserrat";
  margin: 0;
  font-size: 28px;
  line-height: 34px;
}

.form__input-block {
  position: relative;
  width: 100%;
}

.form__input-block_short {
  max-width: 362px;
}

.form__input-block:focus-within {
  outline: 1px solid #d90000;
}

.form__label {
  position: absolute;
  left: 16px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #6a6e72;
}

.form__label::first-letter {
  color: #d90000;
  font-weight: 700;
}

.form__input,
.form__select {
  padding: 22px 16px 8px;
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  color: #0c1014;
  border: 1px solid #d6dade;
  margin: 0;
}

.form__input:focus,
.form__select:focus {
  outline: none;
}

.form__input_socials {
  padding: 16px;
}

.form__select {
  appearance: none;
}

.form__input-block_socials::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.form__input-block_socials_select::after {
  background-image: url(../img/Group.svg);
}

.form__input-block_socials_site::after {
  background-image: url(../img/global.svg);
  background-size: 18px;
}

.form__input-block_socials_vk::after {
  background-image: url(../img/vk.svg);
  background-size: 18px;
}

.form__input-block_socials_odnoklassniki::after {
  background-image: url(../img/odnoklassniki.svg);
  background-size: 18px;
}

.form__input-block_socials_facebook::after {
  background-image: url(../img/facebook.svg);
  background-size: 18px;
}

.form__input-block_socials_instagram::after {
  background-image: url(../img/Instagram.svg);
  background-size: 18px;
}

.form__input-block_socials_youtube::after {
  background-image: url(../img/youtube.svg);
  background-size: 18px;
}

.form__button-block {
  width: 100%;
}

.form__button {
  width: 100%;
  border: none;
  cursor: pointer;
}

.form__submit {
  background-color: #e5266e;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: white;
  padding: 16px;
}

.form__reset {
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #0848c0;
  padding: 16px;
  background-color: inherit;
}
